

#Data Cleansing: Music Data
---

#Step 1. Load rock.csv.

---
*Drag and drop the rock.csv file into the left panel (into /content)

##1a. Import all the libraries needed

---

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns

##1b. Assign a name
---

In [2]:
rockfile = "rock.csv"
df = pd.read_csv(rockfile)

##1c. View the first 5 rows

---

In [4]:
df.head()

#note that the names of the columns look weird...

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

##1d. Check out the columns info

---

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Song Clean    2230 non-null   object
 1   ARTIST CLEAN  2230 non-null   object
 2   Release Year  1653 non-null   object
 3   COMBINED      2230 non-null   object
 4   First?        2230 non-null   int64
 5   Year?         2230 non-null   int64
 6   PlayCount     2230 non-null   int64
 7   F*G           2230 non-null   int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

# Step 2.  Give Proper Column Names

---

Two methods to rename column names:

* Method 1 = During importing of data
* Method 2 = Using the .rename() function

### 2a. Method 1 = Changing Column Names During Importing

---

In [6]:
column_names = ['song', 'artist', 'release', 'song_artist', 'first', 'year', 'playcount', 'fg']

df = pd.read_csv(rockfile, names=column_names, skiprows=1)

df.head()

#The skiprows=1 skips the first row of the .csv.
#This is because the 1st row is the header row.
#You need to skip it else it will add another header row onto the existing .csv

,song,artist,release,song_artist,first,year,playcount,fg
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

##2b. Method 2 = Changing Column Names using .rename()

---

In [8]:
df = pd.read_csv(rockfile)

rename_map = {
#Original column: renamed column
    'Song Clean':    'song', 
    'ARTIST CLEAN':  'artist', 
    'Release Year':  'release', 
    'COMBINED':      'song_artist', 
    'First?':        'first', 
    'Year?':         'year', 
    'PlayCount':     'playcount', 
    'F*G':           'fg'
}

df.rename(columns=rename_map, inplace=True)

df.head()

#When inplace = True, the data is modified as is, which means it will return nothing 
#and the dataframe is updated. 

#When inplace = False, which is the default, then the operation is performed 
#and it returns a copy of the object (which u dun need). 
#You then need to save that copy to some place else (which u don't want to).

,song,artist,release,song_artist,first,year,playcount,fg
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

#Step 3. Searching for NaN (or null) values within the DataFrame.
---

##3a. Take a peek at .info()

---

In [9]:
#run this

df.info()

#you see that 'release' has alot of NaN --> 1653 non-null rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   song         2230 non-null   object
 1   artist       2230 non-null   object
 2   release      1653 non-null   object
 3   song_artist  2230 non-null   object
 4   first        2230 non-null   int64
 5   year         2230 non-null   int64
 6   playcount    2230 non-null   int64
 7   fg           2230 non-null   int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

##3b. Sum up all the 'release' NaNs

---

In [10]:
#run this

df.isnull().sum()

#you see that 'release' has 577 rows of NaN

song             0
artist           0
release        577
song_artist      0
first            0
year             0
playcount        0
fg               0
dtype: int64

##3c. Store and Display the df of all the 'release' NaN

---

In [12]:
# run this

release_column_nulls = df['release'].isnull()

df[release_column_nulls]

# This displays the df of all the 'release' NaN.

,song,artist,release,song_artist,first,year,playcount,fg
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
10,"Baby, Please Don't Go",AC/DC,NaN,"Baby, Please Don't Go by AC/DC",1,0,1,0
13,CAN'T STOP ROCK'N'ROLL,AC/DC,NaN,CAN'T STOP ROCK'N'ROLL by AC/DC,1,0,5,0
16,Girls Got Rhythm,AC/DC,NaN,Girls Got Rhythm by AC/DC,1,0,24,0
24,Let's Get It Up,AC/DC,NaN,Let's Get It Up by AC/DC,1,0,4,0
...,...,...,...,...,...,...,...,...
2216,"I'm Bad, I'm Nationwide",ZZ Top,NaN,"I'm Bad, I'm Nationwide by ZZ Top",1,0,10,0
2218,Just Got Paid,ZZ Top,NaN,Just Got Paid by ZZ Top,1,0,2,0
2221,My Head's In Mississippi,ZZ Top,NaN,My Head's In Mississippi by ZZ Top,1,0,1,0
2222,Party On The Patio,ZZ Top,NaN,Party On The Patio by ZZ Top,1,0,14,0
2225,She Loves My Automobile,ZZ Top,NaN,She Loves My Automobile by ZZ Top,1,0,1,0

#Step 4. Replace NaN with 0s.

---

##4a. Replacing all 'release' NaN rows with 0s

---

In [13]:
#run this

df.loc[release_column_nulls, 'release'] = 0

df.head(25)

,song,artist,release,song_artist,first,year,playcount,fg
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,0,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1
5,Kryptonite,3 Doors Down,2000,Kryptonite by 3 Doors Down,1,1,13,13
6,Loser,3 Doors Down,2000,Loser by 3 Doors Down,1,1,1,1
7,When I'm Gone,3 Doors Down,2002,When I'm Gone by 3 Doors Down,1,1,6,6
8,What's Up?,4 Non Blondes,1992,What's Up? by 4 Non Blondes,1,1,3,3
9,Take On Me,a-ha,1985,Take On Me by a-ha,1,1,1,1
10,"Baby, Please Don't Go",AC/DC,0,"Baby, Please Don't Go by AC/DC",1,0,1,0
11,Back In Black,AC/DC,1980,Back In Black by AC/DC,1,1,97,97
12,Big Gun,AC/DC,1993,Big Gun by AC/DC,1,1,6,6
13,CAN'T STOP ROCK'N'ROLL,AC/DC,0,CAN'T STOP ROCK'N'ROLL by AC/DC,1,0,5,0
14,Dirty Deeds Done Dirt Cheap,AC/DC,1976,Dirty Deeds Done Dirt Cheap by AC/DC,1,1,85,85
15,For Those About To Rock,AC/DC,1981,For Those About To Rock by AC/DC,1,1,46,46
16,Girls Got Rhythm,AC/DC,0,Girls Got Rhythm by AC/DC,1,0,24,0
17,Hard As A Rock,AC/DC,1995,Hard As A Rock by AC/DC,1,1,1,1
18,Have a Drink On Me,AC/DC,1980,Have a Drink On Me by AC/DC,1,1,39,39
19,Hells Bells,AC/DC,1980,Hells Bells by AC/DC,1,1,74,74
20,Highway To Hell,AC/DC,1979,Highway To Hell by AC/DC,1,1,92,92
21,It's A Long Way To The Top,AC/DC,1975,It's A Long Way To The Top by AC/DC,1,1,39,39
22,Jailbreak,AC/DC,1984,Jailbreak by AC/DC,1,1,1,1
23,Let There Be Rock,AC/DC,1977,Let There Be Rock by AC/DC,1,1,3,3
24,Let's Get It Up,AC/DC,0,Let's Get It Up by AC/DC,1,0,4,0

##4b. Verify that 'release' contains no NaN

---

In [11]:
#run this

df.isnull().sum()

song           0
artist         0
release        0
song_artist    0
first          0
year           0
playcount      0
fg             0
dtype: int64

In [14]:
#run this

df.isnull().any()

song           False
artist         False
release        False
song_artist    False
first          False
year           False
playcount      False
fg             False
dtype: bool

##4c. Alternative way to replace NaN with 0s

---

In [15]:
#run this

df['release'].fillna(0) # replace null values with 0

0       1982
1          0
2       1981
3       1980
4       1975
        ...
2225       0
2226    1981
2227    1975
2228    1983
2229    1973
Name: release, Length: 2230, dtype: object

#Step 5. Verify the 'release' column datatype. 
---

##5a. First check for any NaNs in the 'release' column

---

In [16]:
#run this

df['release'].isnull().sum()

0

##5b. Take a peek at the Data Type of 'release' column

---

In [17]:
#run this

df.info()

#note that 'release' column is of object datatype (which means its stored as a string)
#since 'release' columns is the year of the release of that song, it should not be a string
#it should be of type integer (int)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   song         2230 non-null   object
 1   artist       2230 non-null   object
 2   release      2230 non-null   object
 3   song_artist  2230 non-null   object
 4   first        2230 non-null   int64
 5   year         2230 non-null   int64
 6   playcount    2230 non-null   int64
 7   fg           2230 non-null   int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

##5c. Attempting to Change the Datatype of 'release' column from string to int

---

In [18]:
#run this

df['release'] = df['release'].map(lambda x: int(x))

#notice that it pops up an error
#ValueError: invalid literal for int() with base 10: 'SONGFACTS.COM'
#this means that there is Dirty Data within the 'release' column

#in other words, we cannot simply change the Datatype from string to int
#we need to get rid of Dirty Data in that column first...

ValueError: invalid literal for int() with base 10: 'SONGFACTS.COM'

#Step 6. Check for any Dirty Data in the 'release' column.
---

##6a. Use .unique() to see all values in 'release':
---

In [19]:
#run this

df.release.unique()

#notice that one row = SONGFACTS.com... this is clearly Dirty Data!!!

array(['1982', 0, '1981', '1980', '1975', '2000', '2002', '1992', '1985',
       '1993', '1976', '1995', '1979', '1984', '1977', '1990', '1986',
       '1974', '2014', '1987', '1973', '2001', '1989', '1997', '1971',
       '1972', '1994', '1970', '1966', '1965', '1983', '1955', '1978',
       '1969', '1999', '1968', '1988', '1962', '2007', '1967', '1958',
       '1071', '1996', '1991', '2005', '2011', '2004', '2012', '2003',
       '1998', '2008', '1964', '2013', '2006', 'SONGFACTS.COM', '1963',
       '1961'], dtype=object)

##6b. Assigning SONGFACTS.COM to SONGFACTS
---

In [20]:
#run this

SONGFACTS = df['release'] == "SONGFACTS.COM"

##6c. Display the SONGFACTS row

---

In [21]:
#run this

df[SONGFACTS]

,song,artist,release,song_artist,first,year,playcount,fg
1504,Bullfrog Blues,Rory Gallagher,SONGFACTS.COM,Bullfrog Blues by Rory Gallagher,1,1,1,1

##6d.Change SONGFACTS to 1972 

---

In [22]:
#run this

df.loc[SONGFACTS, 'release'] = 1972

##6e. Display row number 1504 to verify the change

---

In [24]:
#run this

df.iloc[1504:1505]

#it has been changed!

,song,artist,release,song_artist,first,year,playcount,fg
1504,Bullfrog Blues,Rory Gallagher,1972,Bullfrog Blues by Rory Gallagher,1,1,1,1

##6f. Verify the Datatypes again

---

In [25]:
#run this

df.info()

#notice that 'release' column is still of type object (string)
#but we want it to be of datatype int since its in year format

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   song         2230 non-null   object
 1   artist       2230 non-null   object
 2   release      2230 non-null   object
 3   song_artist  2230 non-null   object
 4   first        2230 non-null   int64
 5   year         2230 non-null   int64
 6   playcount    2230 non-null   int64
 7   fg           2230 non-null   int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

##6g. Convert String to Int for 'release' column

---

In [26]:
#run this

df['release'] = df['release'].map(lambda x: int(x))

In [27]:
#run this

df.info()

#it has been changed to int!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   song         2230 non-null   object
 1   artist       2230 non-null   object
 2   release      2230 non-null   int64
 3   song_artist  2230 non-null   object
 4   first        2230 non-null   int64
 5   year         2230 non-null   int64
 6   playcount    2230 non-null   int64
 7   fg           2230 non-null   int64
dtypes: int64(5), object(3)
memory usage: 139.5+ KB

#Step 7. Further Checking for Weird Data
---

##7a. Now that the 'release' column is of a numeric data type, we can apply the .describe() function.  

---

In [29]:
#run this

df['release'].describe()

#note that even though the dtype states its of type float, actually, its still of type int
#also note that the min value is weird --> how can the release year of a song be 0?
#this is because we previously filled up all NaN values with 0
#which means that there are rows where we don't know the release year.

#But we want to check the min year of 'release' (not 0)

count    2230.000000
mean     1466.215695
std       866.706564
min         0.000000
25%         0.000000
50%      1973.000000
75%      1981.000000
max      2014.000000
Name: release, dtype: float64

##7b. Adjusting the Display for the min 'release' year

---

In [31]:
#run this

min_release_year = df[df['release'] > 0]

In [33]:
#run this

min_release_year['release'].describe()

#notice that the earliest release date is is 1071 and latest is 2014.

count    1653.000000
mean     1978.016334
std        24.184378
min      1071.000000
25%      1971.000000
50%      1977.000000
75%      1984.000000
max      2014.000000
Name: release, dtype: float64

##7c. Isn't it strange for a song to be released in 1071?

---
* Let's impose a cut off year for when the earliest song can be.
* Preferably above Year 1071

In [34]:
#run this

min_release_year[df.release == 1071]

#we see that row 547 has the year=1071 song

C:\Users\celin\AppData\Local\Temp/ipykernel_3044/641498966.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  min_release_year[df.release == 1071]

,song,artist,release,song_artist,first,year,playcount,fg
547,Levon,Elton John,1071,Levon by Elton John,1,1,8,8

In [35]:
#run this

above_1071 = df[df['release'] > 1071]

In [36]:
above_1071.release.describe()

count    1652.000000
mean     1978.565375
std         9.308364
min      1955.000000
25%      1971.000000
50%      1977.000000
75%      1984.000000
max      2014.000000
Name: release, dtype: float64

In [37]:
#run this

above_1071

,song,artist,release,song_artist,first,year,playcount,fg
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1
5,Kryptonite,3 Doors Down,2000,Kryptonite by 3 Doors Down,1,1,13,13
...,...,...,...,...,...,...,...,...
2224,Sharp Dressed Man,ZZ Top,1983,Sharp Dressed Man by ZZ Top,1,1,120,120
2226,Tube Snake Boogie,ZZ Top,1981,Tube Snake Boogie by ZZ Top,1,1,32,32
2227,Tush,ZZ Top,1975,Tush by ZZ Top,1,1,109,109
2228,TV Dinners,ZZ Top,1983,TV Dinners by ZZ Top,1,1,1,1
2229,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO,ZZ Top,1973,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO by...,1,1,2,2

#THE END

---